<div id="fb-root"></div>
<script>
    window.fbAsyncInit = function() {
        FB.init({
            appId      : {{appId}}, // App ID
            channelUrl : '//{{domain}}/channel.html', // Channel File
            status     : {{status}}, // check login status
            cookie     : {{cookie}}, // enable cookies to allow the server to access the session
            xfbml      : {{xfbml}},  // parse XFBML
            oauth      : {{oauth}}
        });

        // Additional initialization code here
    };

    // Load the SDK Asynchronously
    (function(d){
        var js, id = 'facebook-jssdk', ref = d.getElementsByTagName('script')[0];
        if (d.getElementById(id)) {return;}
        js = d.createElement('script'); js.id = id; js.async = true;
        js.src = "//connect.facebook.net/{{culture}}/all.js";
        ref.parentNode.insertBefore(js, ref);
    }(document));
</script>